main img.bckgrnd {
    width: 1920px;
    height: 1158px;
    border: 2px solid #f1f1f1;
    margin-top: -116px;

    }
body #header {
    width: 1920px;
    height: 850px;
    background-color: #23232e;
    position: relative;
    z-index: 2;
}
.logo {
    width: 134px;
    height: 134px;
    margin-left: 893px;
    margin-top: 80px;
}
.zag {
    width: 544px;
    height: 58px;
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    white-space: pre;
    padding-left: 688px;
    padding-top: 185px;
}
#underzag {
    width: 413px;
    height: 49px;
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-left: 754px;
    padding-top: 64px;
}
#button {
    margin-left: 938px;
    margin-top: 150px;
}
#button:hover {
    border: 4px solid#f85338;
    border-radius: 49%;
}
main #text {
    width: 851px;
    height: 367px;
    color: #464b4f;
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    margin-top: -850px;
    margin-left: 534px;
    white-space: normal;
}
#nameoftabl th {
    padding-left: 20px;
    height: 14px;
    color: #464b4f;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
}
#1stt, #2ndt, #3rdt {
    width: 286px;
    height: 109px;
    color: #888a8b;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
#2ndt {
    width: 298px;
}
.tabl{
    width: 936px;
    height: 109px;
    margin-left: 490px;
    margin-top: 99px;
}
.tabl tr td {
width: 286px;
text-align: left;
padding-left: 20px;
}
.footer {
    margin-top: 130px;
}
article {
    width: 426px;
    height: 58px;
    color: #464b4f;
    font-family: "Segoe UI", sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding-left: 746px;
    white-space: pre;
}